<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K22411CSampleProject"
        tools:targetApi="31">
        <activity
            android:name="com.bear.k22411csampleproject.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.OrdersViewerActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.AdvancedProductManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.CustomerDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.CategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.CustomerManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.ProductManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.EmployeeManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.EmployeeHealthcareActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.bear.k22411csampleproject.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryManagementActivity" />
        <activity
            android:name="com.bear.k22411csampleproject.MainActivity"
            android:exported="true" />
    </application>

</manifest>